<% if @list.present? %>
  <h1 class="text-lg font-bold"><%= @list.name %> <%= t :todos %></h1>
<% end %>
<ul class="divide-y
           divide-zinc-400
           mt-3
           mb-3">
  <% @todos.each do |todo| %>
    <li class="pt-1 pb-1 <%= todos_color(todo) %>">
      <%= form_with model: todo, method: :patch do |form| %>
        <%= form.hidden_field :done, value: !todo.done %>
        <%= form.button "#{'✅' if todo.done} #{todo.description}", class: 'text-left' %>
      <% end %>
    </li>
  <% end %>
</ul>