<% if @list.present? %>
  <h1 class="text-lg font-bold"><%= t :add_todo %></h1>
  <%= render 'layouts/flash' %>
  <%= form_with model: @new_todo do |form| %>
    <div class="mt-1 mb-1">
      <%= form.label :description, t(:description) %>
      <%= form.text_field :description, class: 'shadow
                                                appearance-none
                                                border
                                                rounded
                                                w-full
                                                py-2
                                                px-3
                                                leading-tight
                                                bg-inherit
                                                focus:outline-none
                                                focus:border-sky-500' %>
    </div>
    <div class="mt-1 mb-1">
      <%= form.label :due, t(:due) %>
      <%= form.datetime_local_field :due, class: 'shadow
                                                  appearance-none
                                                  border
                                                  rounded
                                                  w-full
                                                  py-2
                                                  px-3
                                                  leading-tight
                                                  bg-inherit
                                                  focus:outline-none
                                                  focus:border-sky-500' %>
    </div>
    <div class="mt-1 mb-1">
      <% if Rails.configuration.home_calendar.enabled == true %>
        <%= form.label :send_to_calendar, t(:send_to_calendar) %>
        <%= form.checkbox :send_to_calendar %>
      <% end %>
    </div>
    <%= form.hidden_field :list_id, value: @list.id %>
    <%= form.button t(:add_todo),
                    class: 'rounded-full
                            border-2
                            border-sky-600
                            px-1
                            mt-3
                            mb-4' %>
  <% end %>

  <div data-controller="dialog">
    <dialog
      data-dialog-target="dialog"
      class="p-4
             dark:bg-zinc-950
             dark:text-zinc-50
             rounded
             shadow-xl">

      <h2><%= t(:are_you_sure) %></h2>

      <hr class="mb-4">

      <%= link_to t(:purge),
          todo_path(id: @list.id),
          data: { 'turbo-method': :delete },
          class: 'rounded-full
                  border-2
                  border-red-500
                  px-1
                  mt-1
                  mr-8' %>

      <button type="button" data-action="dialog#close" autofocus>Cancel</button>
    </dialog>

    <button
      type="button"
      data-action="dialog#open"
      class="rounded-full
             border-2
             border-red-500
             px-1
             mt-1"
    >
      <%= t(:purge_done_todos) %>
    </button>
  </div>
<% end %>
